.App {
  text-align: center;
}

.home {
  text-align: center;
}
.mainlight {
  color: #6e0000;
  background-color: #ebeee6;
  height: 100%;
}
.maindark {
  color: #fef8d8;
  background-color: #1c161c;
  height: 100%;
  height: 100vh;
}
.toggleMode {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  top: 5px;
}
.leastTime,
.weather {
  max-width: 60%;
}
