.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryform {
  margin-top: 10px;
}
.categories-selectlight,
.categories-selectdark {
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.categories-selectlight button {
  flex: 1;

  border-radius: 8px;
  border: 2px solid #6e0000;
  background-color: #ebeee6;

  filter: brightness(98%);
  margin: 10px;

  cursor: pointer;
}
.categories-selectdark button {
  flex: 1;

  border-radius: 8px;
  border: 2px solid #6e0000;
  background-color: #1c161c;
  color: #fef8d8;

  filter: brightness(98%);
  margin: 10px;

  cursor: pointer;
}
.newTaskSubmit label {
  margin-right: 10px;
}
.newCategory {
  display: block;
}

.catPopup {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 1em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.categoryform {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryform label {
  margin-right: 8px;
}

.categoryform button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 1em;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  position: relative;
  top: 0.125em;
  right: 2.5em;
}
.categoryform button span {
  color: '#6e0000';
}
