.inputStart,
.inputEnd,
.toggleHours {
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphComponent > form > div > input {
  margin: 4px;
}
.graph > canvas {
  margin: auto;
  width: 80vw;
}
.backArrow {
  width: fit-content;
  margin-left: 20vw;
}
.backArrow > button,
.toggleHours > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: auto;
}
.toggleHours > button > span {
  position: relative;
  top: 7px;
}
.input {
  display: block;
}
