nav {
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}
li {
  height: 10%;
}
.nav-itemdark button,
.nav-itemlight button {
  margin: 0;
}
.nav-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

.nav-itemdark,
.nav-itemlight {
  display: inline;
  border: 2px solid black;
  border-radius: 4px;
  margin: 9px;
  padding: 2px;
  box-shadow: 2px 3px;

  transition: all 0.5s;
}

.nav-itemlight:hover {
  background-color: #ebeee6;
  filter: brightness(80%);
}
.nav-itemdark:hover {
  background-color: #1c161c;
  filter: brightness(120%);
}
.nav-itemdark > a {
  color: #fef8d8;
}
.nav-itemlight > a {
  color: #6e0000;
}
