.allTasks,
.allCompleted {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
/* Completed's colour will be adjusted later, but it will have the same inital settings for consistency */
.task,
.completed {
  /* flex 1 for even sizing */
  flex: 1;

  background-color: #ebeee6;
  filter: brightness(90%);
  min-width: 33vw;
  max-width: 45vw;

  max-height: 80%;
  /* max-height: fit-content; */
  margin: 20px;
  padding: 15px;
  /* px works way better than % */
  border-radius: 15px;

  transition: all 0.5s;

  /* position: relative;

  z-index: -1; */
}
.task:hover,
.completed:hover {
  transition: all 0.5s;
  filter: brightness(70%);
}

/* Below the css for the completed tasks */

.deleteTask,
.completeTask {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  transition: all 0.2s;
}
.completeTask {
  float: left;
}
.deleteTask {
  float: right;
}

.deleteTask:active,
.completeTask:active,
.editTask:active {
  transform: scale(0.5);
}
.deleteTask:hover,
.completeTask:hover,
.editTask:hover {
  transform: scale(1.3);
}

.editTask {
  position: fixed;
  bottom: 0;
  right: 0;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 1em;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  transition: all 0.2s;
}
