.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
}

.weather,
.leastTime {
  margin: 8px;
  padding: 5px;
  width: 80%;
  border-radius: 13px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.weatherIcon {
  position: relative;
  top: 20px;
}

.weather > form > input {
  margin: 5px;
}
